body {
	font-family: 'Proxima Nova Light Thin', Georgia, sans-serif;
	font-size: @bodyCopy;
	line-height: 1.3em;
	color: rgb(74, 79, 84);
}
p {
	strong {
		font-family: 'Proxima Nova', Georgia, sans-serif;
		font-weight: bold;
	}
}
a {
	color: @dkGray;
	border-bottom: 1px solid @white;
	.transition(all .2s ease-out);

	&:hover {
		color: @black;
		text-decoration: none;
		border-bottom: 1px solid @dkGray;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: -10px;
	margin-bottom: 40px;
	font-family: 'LandRover', Helvetica, Arial, sans-serif;
}
h1 {
	font-size: @h1size; 
	font-weight: normal;
	line-height: 1.19em;
}
h2 {
	font-size: @h2size; 
	text-align: center;
}
h3 {
	font-size: @h3size; 
	text-align: center;
}
h4 {
	font-size: @h4size;
}
h5 {
	font-size: @h5size; 
}
h6 {
	font-size: @h6size;

}


/*--------------- LAYOUT ---------------*/
.container {
	max-width: 1246px;
}
section, 
.jumbotron {
	margin-bottom: @sectionMargin;
}
.page-top {
	margin-bottom: 0;
	padding: 80px 0;
}
.bg-gray {
	background: lighten(@ltGray, 10%);
}
hr {
	margin-top: 0;
	margin-bottom: @sectionMargin;
	height: 3px;
	border: none;
	background: @ltGray;
}
.btn-container {
	margin-top: -10px;
}
.btn-cta {
	padding: 0;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	font-size: @h4size;
	color: inherit;
	.transition(all .2s ease-out);
	.thick-underline-inline();
	border-radius: 0;

	&:hover {
		color: @dkGray - #EEE;
	}

	&:after {
		//.thick-underline();
	}
}
.btn-white-border {
	font-size: 1.5em;
	color: @secondary;
	border: 3px solid @white;
	background: transparent;
	border-radius: 0;
	//box-shadow: inset 0 0 0 3px @white;

	img {
		margin-left: .5em;
	}
}

// VERTICLA DIVIDER FOR COLUMNS
.vertical-divider {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	margin: 0;
	padding: 0;
	width: auto;
	height: 50%;
	line-height: 0;
	text-align:center;
	text-transform: uppercase;
	transform: translateX(-50%);
}
.vertical-divider:before, 
.vertical-divider:after {
	position: absolute;
	left: 50%;
	content: '';
	z-index: 9;
	border-left: 2px solid rgba(34,36,38,.15);
	border-right: 2px solid rgba(255,255,255,.1);
	width: 0;
	height: calc(100% - 1rem);
}
.row-divided > .vertical-divider {
	height: calc(50% - 1rem);    
}
.vertical-divider:before {
	top: -100%;
}
.vertical-divider:after {
	top: auto;
	bottom: 0;
}
.row-divided {
	position:relative;
}
.row-divided > [class^="col-"],
.row-divided > [class*=" col-"] {
	padding-left: 30px;  /* gutter width (give a little extra room) 2x default */
	padding-right: 30px; /* gutter width (give a little extra room) 2x default */
}

// GRID LAYOUT STYLES
.grid-layout {
	display: grid;
}
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: .55;
	background: #4f5659;
	background: -moz-linear-gradient(-45deg,  #4f5659 0%, #4f5659 70%, #ba906d 100%);
	background: -webkit-linear-gradient(-45deg,  #4f5659 0%,#4f5659 70%,#ba906d 100%);
	background: linear-gradient(135deg,  #4f5659 0%,#4f5659 70%,#ba906d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f5659', endColorstr='#ba906d',GradientType=1 );
}
img.float-right {
	margin-left: 1.3em;
}
.hidden {
	display: none;
}
.clear {
	clear: both;
}