body {
	font-family: 'Proxima Nova', Georgia, sans-serif;
	font-size: @bodyCopy;
	line-height: 1.3em;
	color: rgb(74, 79, 84);
}
p {
	strong {
		font-family: 'proxima_nova_altbold', Georgia, sans-serif;
		font-weight: bold;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: -10px;
	margin-bottom: 40px;
	font-family: 'LandRover', Helvetica, Arial, sans-serif;
}
h1 {
	font-size: @h1size; 
	font-weight: normal;
	line-height: 1.19em;
}
h2 {
	font-size: @h2size; 
	text-align: center;
}
h3 {
	font-size: @h3size; 
	text-align: center;
}
h4 {
	font-size: @h4size;
}
h5 {
	font-size: @h5size; 
}
h6 {
	font-size: @h6size;

}


/*--------------- LAYOUT ---------------*/
.container {
	max-width: 1246px;
}
section, 
.jumbotron {
	margin-bottom: @sectionMargin;
}
hr {
	margin-top: 0;
	margin-bottom: @sectionMargin;
	height: 3px;
	border: none;
	background: @ltGray;
}
.btn-container {
	margin-top: -10px;
}
.btn-cta {
	padding: 0;
	.transition(all .2s ease-out);

	&:hover {
		color: @dkGray - #EEE;
	}

	&:after {
		.thick-underline();
	}
}

// GRID LAYOUT STYLES
.grid-layout {
	display: grid;
}
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: .55;
	background: #4f5659;
	background: -moz-linear-gradient(-45deg,  #4f5659 0%, #4f5659 70%, #ba906d 100%);
	background: -webkit-linear-gradient(-45deg,  #4f5659 0%,#4f5659 70%,#ba906d 100%);
	background: linear-gradient(135deg,  #4f5659 0%,#4f5659 70%,#ba906d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f5659', endColorstr='#ba906d',GradientType=1 );
}
img.float-right {
	margin-left: 1.3em;
}
.hidden {
	display: none;
}
.clear {
	clear: both;
}