/* --------------- MAIN NAVIGATION ---------------*/
.navbar {
	padding-top: 0;
	padding-bottom: 0;

	.navbar-toggler {
		border: none;

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#FF6600' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;

		}
	}

	.navbar-collapse {
		margin-top: -5px;
		position: relative;
		z-index: 100;
		background: @white;
	}
	.navbar-brand {
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar-nav {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			padding: 0 2rem;
			height: 100%;
			font-family: 'Proxima Nova', sans-serif;
			font-weight: normal;
			border-left: 1px solid @ltGray;

			a {
				padding: 2rem 0;
				display: block;
				height: 100%;
				font-size: 15px;
				border-bottom: none;
			}
			&.active {
				a {
					font-family: 'Proxima Nova Bold', sans-serif;
					box-shadow: inset 0 -3px 0 @secondary;
				}
			}
			&:first-child {
				border-left: none;
			}
		}
	}
}
@media (max-width: 768px) {
	.navbar {
		.navbar-collapse {
			position: absolute;
			top: 54px;
			left: 0;
			width: 100%;
			background: @dkGray;
			.nav-item {
				.nav-link {
					font-family: 'Proxima Nova Light Thin', sans-serif;
					color: @white;
				}
				&.active {
					background: lighten(@dkGray, 10%);
					.nav-link {
						box-shadow: none;
					}
				}
			}
		}
		.navbar-toggler {
			.close {
				font-weight: bold;
				color: @secondary;
			}
			&.collapsed {
				display: inline;
				
				.close {
					display: none;
				}
			}
			&:not(.collapsed) {
				.close {
					display: inline;
				}
				.navbar-toggler-icon {
					display: none;
				}
			}
		}
	}
	.navbar-collapse.collapsing {
		height: auto;
		-webkit-transition: left 0.3s ease;
		-o-transition: left 0.3s ease;
		-moz-transition: left 0.3s ease;
		transition: left 0.3s ease;
		left: -100%;
	}
	.navbar-collapse.show {
		left: 0;
		-webkit-transition: left 0.3s ease-in;
		-o-transition: left 0.3s ease-in;
		-moz-transition: left 0.3s ease-in;
		transition: left 0.3s ease-in;
	}
}