/* --------------- NEWSROOM SPECIFIC --------------- */
#newsroom {
	#news {
		margin-left: -15px;
		margin-right: -15px;
	}
	h2 {
		span {
			.thick-underline-inline();
			border-bottom: 5px solid @ltGray;
		}
	}
}
.twitter-feed,
.twitter-cta {
	margin-bottom: 1.5em;
	width: 387px;
	height: 453px;
}
.twitter-feed {
	margin-right: 1em;
	border: 1px solid @ltGray;
	@media screen and (max-width: 769px) {
		margin-right: 0;
	}
}
.twitter-cta {
	color: @white;
	background: @dkGray;
}

.pagination-container {
	padding-top: @sectionMargin / 2;
	width: 100%;
}


.slide-window {
	width: 100%;
	height: 645px;
	overflow: hidden;
	position: relative;
	@media screen and (max-width: 575px) {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 495px;
		overflow: auto;
		border: 1px solid red;
	}
	@media screen and (min-width: 576px) and (max-width: 1024px) {
		width: 100%;
	}
}
.slide-container {
	position: absolute;
	left: 0;
}
.news-slide-nav {
	padding: 0 .25em;

	.next,
	.prev {
		color: @secondary;

		&.disabled {
			color: inherit;
			&:hover {
				cursor: normal;
			}
		}
		&:hover {
			text-decoration: none;
			border-bottom: none;
		}
	}
}

.card {
	margin-right: 40px;
	width: 385px;
	display: inline-block;
	height: 645px;
	border: none;
	.border-radius(0px);

	&:last-child {
		margin-right: 0;
	}
	@media screen and (max-width: 575px) {
		width: 200px;
		height: 450px;
	}
	@media screen and (min-width: 576px) and (max-width: 1024px) {
		width: 300px;
		height: 600px;
	}
	a {
		color: inherit;
		.thick-underline-inline();

		 &:hover {
		 	color: inherit;
		 }
	}
}
.news-card {
	color: @white;
	background: @dkGray;
}
.press-card {
	background: @ltGray;
}
.card-title {
	font-size: @h5size;
	@media screen and (max-width: 575px) {
		font-size: @bodyCopy;
	}
}
.card-top {
	position: relative;
	height: 256px;
	overflow: hidden;
	img {
		margin-top: -2em;
	}
	@media screen and (max-width: 575px) {
		height: auto;
	}
}
.card-body {
	padding: 30px;
}
.card-text {
	line-height: 2.2em;
	@media screen and (max-width: 575px) {
		font-size: @bodyCopy;
		line-height: 1.3em;
	}
}
.card-img-top {
	.border-radius(0px);
}

#contact {
	.lead {
		text-align: center;
	}
}