/*----- VARIABLES -----*/
@secondary: #FF6600;
@black: #000000;
@white: #FFFFFF;
@ltGray: #D1D5D5;
@mdGray: rgba(102, 102, 102, 1);
@dkGray: rgba(74, 79, 84, 1);

//@bodyCopy: calc(15px + (15px - 15px) * (100vw - 320) / (1920 - 320));
@bodyCopy: 18px;
@h1size: 53px;
@h2size: 42px;
@h3size: 37px;
@h4size: 35px;
@h5size: 24px;

@sectionMargin: 4rem; //15px to 60px ratio