/*--------------- MIXINS & IMPORTS ---------------*/
@import "fonts/fonts.css";
/*--------------- MIXINS & IMPORTS ---------------*/
/*----- VARIABLES -----*/
body {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  font-size: 15px;
  line-height: 1.3em;
  color: #4a4f54;
}
p strong {
  font-family: 'proxima_nova_altbold', Georgia, sans-serif;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: -10px;
  margin-bottom: 40px;
  font-family: 'LandRover', Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 42px;
  font-weight: normal;
  line-height: 1.19em;
}
h2 {
  font-size: 36px;
  text-align: center;
}
h3 {
  font-size: 28px;
  text-align: center;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 15px;
}
/*--------------- LAYOUT ---------------*/
.container {
  max-width: 1246px;
}
section,
.jumbotron {
  margin-bottom: 60px;
}
hr {
  margin-top: 0;
  margin-bottom: 60px;
  height: 3px;
  border: none;
  background: #d1d5d5;
}
.btn-container {
  margin-top: -10px;
}
.btn-cta {
  padding: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.btn-cta:hover {
  color: #000000;
}
.btn-cta:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: #ff6600;
}
.grid-layout {
  display: grid;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: .55;
  background: #4f5659;
  background: -moz-linear-gradient(-45deg, #4f5659 0%, #4f5659 70%, #ba906d 100%);
  background: -webkit-linear-gradient(-45deg, #4f5659 0%, #4f5659 70%, #ba906d 100%);
  background: linear-gradient(135deg, #4f5659 0%, #4f5659 70%, #ba906d 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4f5659', endColorstr='#ba906d', GradientType=1);
}
img.float-right {
  margin-left: 1.3em;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
}
header {
  margin-bottom: 0;
  max-height: 81px;
}
header .logo-container {
  margin-top: -5px;
  padding: 0;
  text-align: center;
}
header .logo-container img {
  width: 120px;
}
/* --------------- MAIN NAVIGATION ---------------*/
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar .navbar-collapse {
  margin-top: -5px;
  position: relative;
  z-index: 100;
  background: #ffffff;
}
.navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar .navbar-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar .navbar-nav li {
  padding: 0 2rem;
  height: 100%;
  font-weight: normal;
  border-left: 1px solid #d1d5d5;
}
.navbar .navbar-nav li a {
  padding: 2rem 0;
  display: block;
  height: 100%;
  font-size: 15px;
}
.navbar .navbar-nav li.active a {
  font-weight: bold;
  box-shadow: inset 0 -3px 0 #ff6600;
}
.navbar .navbar-nav li:first-child {
  border-left: none;
}
footer.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
  background: #4a4f54;
}
footer.main-footer img {
  margin-bottom: 30px;
}
footer.main-footer h4 {
  font-size: 1.7rem;
  font-weight: normal;
}
footer.main-footer form {
  margin-bottom: 30px;
}
footer.main-footer form input.form-control-sm {
  color: #ffffff;
  background-color: #7d8287;
  border: none;
}
footer.main-footer form input.form-control-sm::-webkit-input-placeholder {
  color: #ffffff;
}
footer.main-footer form input.form-control-sm:-moz-placeholder {
  color: #ffffff;
}
footer.main-footer form input.form-control-sm::-moz-placeholder {
  color: #ffffff;
}
footer.main-footer form .btn-submit-footer {
  margin-left: 1em;
  width: 50%;
  color: #ffffff;
  background: transparent;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px #d1d5d5;
}
footer.main-footer form .btn-submit-footer img {
  margin-bottom: 0;
}
footer.main-footer nav {
  margin-bottom: 30px;
}
footer.main-footer nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer.main-footer nav ul li {
  margin-bottom: 1em;
}
footer.main-footer nav ul li a {
  color: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
footer.main-footer nav ul li a:hover {
  color: #cccccc;
  text-decoration: none;
}
footer.main-footer .social {
  margin-bottom: 30px;
}
footer.main-footer .social .img-icon {
  margin-right: .5rem;
  padding: 6px;
  width: 54px;
  height: 54px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: none;
  -webkit-box-shadow: 2px 1px 6px #333333;
  -moz-box-shadow: 2px 1px 6px #333333;
  box-shadow: 2px 1px 6px #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
footer.main-footer .social .img-icon:hover {
  border: 1px solid #494d4d;
  -webkit-box-shadow: 0 0 0 #666666;
  -moz-box-shadow: 0 0 0 #666666;
  box-shadow: 0 0 0 #666666;
}
footer.main-footer .social .img-icon img {
  margin-top: 6px;
  height: 32px;
}
footer.main-footer .address h6 {
  margin: 0;
}
#home .btn-cta {
  font-size: 24px;
  text-align: center;
  color: #4a4f54;
}
.home-grid-layout {
  width: 100%;
  grid-gap: 1em;
  grid-template-columns: 24.1% 24.1% 24.1% 24.1%;
  grid-template-rows: 50% 50%;
}
.home-grid-layout > * {
  position: relative;
}
.home-grid-layout .info {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  vertical-align: center;
  color: #ffffff;
  background: #4a4f54;
}
.home-grid-layout .info h2 {
  padding: 2rem 2rem 0 2rem;
  text-align: left;
  text-transform: uppercase;
}
.home-grid-layout .info p {
  padding: 0 2rem 2rem 2rem;
  display: block;
  font-family: 'proxima_nova_ltthin', sans-serif;
  font-size: 24px;
  line-height: 1.4em;
}
.home-grid-layout .img-one {
  background: url('img/IMG_6035.jpg') no-repeat top right;
}
.home-grid-layout .img-two {
  background: url('img/jagipaceconceptinterior150317066-med.jpg') no-repeat top center;
}
.home-grid-layout .cta-grid {
  padding-left: 1em;
  background: #4a4f54;
}
.home-grid-layout .cta-grid h3 {
  text-align: left;
}
.home-grid-layout .cta-grid a {
  margin-top: 1em;
  padding-bottom: .05em;
  font-size: 1.5rem;
  line-height: 1.9em;
  color: #ffffff;
  align-self: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  border-bottom: 5px solid #ff6600;
}
.home-grid-layout .cta-grid a:before {
  content: "";
  display: block;
  height: 1em;
}
.home-grid-layout .cta-grid a:hover {
  text-decoration: none;
  color: #d1d5d5;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .home-grid-layout {
    grid-template-rows: 50% 50%;
  }
  .home-grid-layout .info h3 {
    font-size: 15.555555555555555px;
  }
  .home-grid-layout .info p {
    font-size: 23px;
  }
  .home-grid-layout .cta-grid a {
    padding-top: 1em;
    font-size: 1.3em;
  }
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .home-grid-layout {
    grid-gap: 1em;
    grid-template-columns: calc(49%) calc(49%);
    grid-template-rows: calc(32%) calc(32%) calc(32%);
  }
  .home-grid-layout .info {
    padding: 1em;
    grid-column-end: 3;
    grid-row-end: 2;
  }
  .home-grid-layout .info h3 {
    font-size: 18px;
  }
  .home-grid-layout .info p {
    font-size: 15px;
  }
  .home-grid-layout .cta-grid a {
    padding-top: 1em;
    font-size: 1rem;
  }
}
.home-benefits .d-flex {
  margin-top: -30px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home-benefits .benefit {
  padding: 1rem 3rem;
  width: calc(32%);
  text-align: center;
  border-bottom: 2px solid #d1d5d5;
}
@media screen and (min-width: 1024px) {
  .home-benefits .benefit:nth-child(n + 2):before {
    float: left;
    margin-left: -4em;
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #d1d5d5;
  }
  .home-benefits .benefit:nth-child(4):before {
    float: left;
    margin-left: -4em;
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #ffffff;
  }
  .home-benefits .benefit:nth-child(n + 4) {
    border-bottom: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 1023px) {
  .home-benefits .benefit:nth-child(n + 2):before {
    float: left;
    margin-left: -3.8em;
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #d1d5d5;
  }
  .home-benefits .benefit:nth-child(4):before {
    float: left;
    margin-left: -3.8em;
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #ffffff;
  }
  .home-benefits .benefit:nth-child(n + 4) {
    border-bottom: none;
  }
}
@media screen and (max-width: 575px) {
  .home-benefits .benefit {
    padding: .5rem 1.5rem;
    width: 50%;
    border-bottom: 2px solid #d1d5d5;
  }
  .home-benefits .benefit:nth-child(even):before {
    float: left;
    margin-left: -1.5em;
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #d1d5d5;
  }
  .home-benefits .benefit:nth-child(n + 5) {
    border-bottom: none;
  }
}
.home-benefits .benefit img {
  margin-bottom: 1.5em;
  height: 55px;
}
@media screen and (max-width: 575px) {
  .home-benefits .benefit img {
    height: 40px;
  }
}
.home-benefits .btn-container {
  margin-top: 60px;
}
.home-benefits .btn-container .btn {
  margin-top: -10px;
}
#home .jumbotron {
  background: #000000 url('img/rrvelar18my367glhdprlocationdynamic010317.jpg') no-repeat top center;
}
#program .jumbotron {
  background: #000000 url('img/rrvelar18my367glhdprlocationdynamic010317.jpg') no-repeat top center;
}
#portfolio .jumbotron {
  background: #000000 url('img/img87531.jpg') no-repeat top center;
}
#newsroom .jumbotron {
  height: 551px;
  background: #000000 url('img/ostc_garage-banner.jpg') no-repeat top center;
}
.jumbotron {
  padding-top: 100px;
  height: 447px;
  position: relative;
}
.jumbotron h1 {
  width: 60%;
  position: relative;
  z-index: 1;
  color: #ffffff;
}
.jumbotron h1.text-center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .jumbotron h1 {
    font-size: 28px;
  }
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .jumbotron h1 {
    width: 100%;
    font-size: 21px;
  }
}
/* --------------- NEWSROOM SPECIFIC --------------- */
#newsroom #news {
  margin-left: -15px;
  margin-right: -15px;
}
.twitter-feed,
.twitter-cta {
  margin-bottom: 1.5em;
  width: 387px;
  height: 453px;
}
.twitter-feed {
  margin-right: 1em;
  border: 1px solid #d1d5d5;
}
@media screen and (max-width: 769px) {
  .twitter-feed {
    margin-right: 0;
  }
}
.twitter-cta {
  color: #ffffff;
  background: #4a4f54;
}
.pagination-container {
  padding-top: 30px;
  width: 100%;
}
.card {
  margin-right: 1em;
  width: calc(32%);
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.card:last-child {
  margin-right: 0;
}
@media screen and (max-width: 575px) {
  .card {
    width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .card {
    width: calc(49%);
  }
}
.card a {
  color: inherit;
}
.card a:hover {
  color: inherit;
}
.news-card {
  color: #ffffff;
  background: #4a4f54;
}
.press-card {
  background: #d1d5d5;
}
.card-title {
  font-size: 18px;
}
.card-top {
  position: relative;
}
.card-text {
  line-height: 1.8em;
}
.category-marker {
  margin-left: 2em;
  padding: 1em 3em 1em 1em;
  position: absolute;
  bottom: 0;
  color: #ffffff;
  background: #ff6600;
  -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
}
.card-img-top {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#contact .lead {
  text-align: center;
}
/* --------------- PORTFOLIO SPECIFIC --------------- */
.partner {
  height: auto;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
}
.partner.hover {
  cursor: pointer;
  background: #eceded;
}
.partner.minimized {
  color: #7a828a;
}
.partner.maximized {
  color: #4a4f54;
}
.partner-main {
  padding: 22px .7em 0 0;
  height: 100%;
  border-top: 1px solid #d1d5d5;
}
.partner-main.row {
  margin: 0;
}
.partner-main .dev-logo {
  width: 30px;
}
.partner-main a {
  padding: .25em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.partner-main a:hover {
  background: #d1d5d5;
}
.partner-logo {
  margin-right: 13px;
}
@media screen and (max-width: 575px) {
  .partner-logo {
    margin-bottom: 1em;
  }
}
.partner-name {
  text-transform: uppercase;
}
@media screen and (max-width: 575px) {
  .partner-name {
    font-size: 1em;
  }
}
@media screen and (min-width: 576px) and (max-width: 1023px) {
  .partner-name {
    font-size: .8em;
  }
}
.partner-location {
  margin-left: 50px;
  font-family: 'proxima_nova_altbold';
}
/* --------------- PROGRAMS SPECIFIC --------------- */
.description p {
  margin-bottom: 2em;
  font-size: 24px;
  line-height: 1.2em;
}
.description picture img {
  margin-bottom: 1.3em;
}
@media screen and (max-width: 575px) {
  .description .row {
    padding-right: 1em;
    padding-left: 1em;
  }
  .description p {
    width: 100%;
  }
  .description img {
    margin: 0 auto 1em auto;
  }
}
.testimonials .row > div {
  background: #4a4f54;
}
.testimonials .row > div.img-container {
  text-align: left;
  background: black;
}
.testimonials .blockquote {
  margin-top: 1.3rem;
  font-style: italic;
  color: #ffffff;
}
.testimonials .blockquote-footer:before {
  content: "";
}
.testimonials .blockquote-footer p {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}
@media screen and (max-width: 576px) {
  .testimonials .row {
    margin-bottom: 1.5rem;
  }
  .testimonials .img-container {
    padding-top: 1rem;
  }
  .testimonials .blockquote {
    font-size: 1rem;
  }
  .testimonials .blockquote-footer {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .testimonials .blockquote {
    font-size: 15px;
  }
  .testimonials .blockquote-footer {
    font-size: 18px;
  }
}
article {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d1d5d5;
}
article:last-child {
  border-bottom: none;
}
article h3 {
  text-align: left;
}
article h3 a {
  padding-bottom: .05em;
  line-height: 1.75em;
  color: inherit;
  border-bottom: 5px solid #ff6600;
}
article h3 a:hover {
  color: inherit;
  text-decoration: none;
}
article aside {
  margin-right: 1em;
  padding: 1em;
  color: #ffffff;
  background: #999999;
}
article aside .date {
  color: #4a4f54;
}
