@import "fonts/fonts.css";
/*----- VARIABLES -----*/
.dark-form-input {
  min-height: 2rem;
  color: #ffffff;
  background-color: #7d8287;
  border: none;
  border-radius: 0px;
  background-clip: padding-box;
}
.dark-form-input::-webkit-input-placeholder {
  color: #ffffff;
}
.dark-form-input:-moz-placeholder {
  color: #ffffff;
}
.dark-form-input::-moz-placeholder {
  color: #ffffff;
}
body {
  font-family: 'Proxima Nova Light Thin', Georgia, sans-serif;
  font-size: 15px;
  line-height: 1.3em;
  color: #4a4f54;
}
p strong {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  font-weight: bold;
}
a {
  color: #4a4f54;
  border-bottom: 1px solid #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
a:hover {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #4a4f54;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: -10px;
  margin-bottom: 40px;
  font-family: 'LandRover', Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 42px;
  font-weight: normal;
  line-height: 1.19em;
}
h2 {
  font-size: 36px;
  text-align: center;
}
h3 {
  font-size: 28px;
  text-align: center;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 15px;
}
@media screen and (min-width: 0px) and (max-width: 576px) {
  h1 {
    font-size: 31.5px;
  }
  h2 {
    font-size: 25.2px;
  }
  h3 {
    font-size: 18.2px;
  }
}
/*--------------- FORM STYLES ---------------*/
.form-control {
  min-height: 2rem;
  color: #ffffff;
  background-color: #7d8287;
  border: none;
  border-radius: 0px;
  background-clip: padding-box;
}
.form-control::-webkit-input-placeholder {
  color: #ffffff;
}
.form-control:-moz-placeholder {
  color: #ffffff;
}
.form-control::-moz-placeholder {
  color: #ffffff;
}
/*--------------- LAYOUT ---------------*/
.container {
  max-width: 1246px;
}
section,
.jumbotron {
  margin-bottom: 60px;
}
.page-top {
  margin-bottom: 0;
  padding: 80px 0;
}
.bg-gray {
  background: #eceded;
}
hr {
  margin-top: 0;
  margin-bottom: 60px;
  height: 3px;
  border: none;
  background: #d1d5d5;
}
.btn-container {
  margin-top: -10px;
  text-align: center;
}
.btn-container .btn-cta {
  padding: 0 0 .2em 0;
  font-family: 'Proxima Nova', Georgia, sans-serif;
  font-size: 20px;
  color: inherit;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  padding-bottom: .05em;
  border-bottom: 5px solid #ff6600;
  border-radius: 0;
}
.btn-container .btn-cta:hover {
  color: #000000;
}
.btn-white-border {
  font-size: 1.5em;
  color: #ff6600;
  border: 3px solid #ffffff;
  background: transparent;
  border-radius: 0;
}
.btn-white-border img {
  margin-left: .5em;
}
.vertical-divider {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 50%;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.vertical-divider:before,
.vertical-divider:after {
  position: absolute;
  left: 50%;
  content: '';
  z-index: 9;
  border-left: 2px solid rgba(34, 36, 38, 0.15);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  width: 0;
  height: calc(99%);
}
.row-divided > .vertical-divider {
  height: calc(49%);
}
.vertical-divider:before {
  top: -100%;
}
.vertical-divider:after {
  top: auto;
  bottom: 0;
}
.row-divided {
  position: relative;
}
.row-divided > [class^="col-"],
.row-divided > [class*=" col-"] {
  padding-left: 30px;
  /* gutter width (give a little extra room) 2x default */
  padding-right: 30px;
  /* gutter width (give a little extra room) 2x default */
}
.grid-layout {
  display: grid;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: .55;
  background: #4f5659;
  background: linear-gradient(135deg, #4f5659 0%, #4f5659 70%, #ba906d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f5659', endColorstr='#ba906d', GradientType=1);
}
img.float-right {
  margin-left: 1.3em;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
}
header {
  margin-bottom: 0;
  max-height: 81px;
}
header .logo-container {
  margin-top: -5px;
  padding: 0;
  text-align: center;
}
header .logo-container img {
  width: 120px;
}
/* --------------- MAIN NAVIGATION ---------------*/
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#FF6600' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar .navbar-collapse {
  margin-top: -5px;
  position: relative;
  z-index: 100;
  background: #ffffff;
}
.navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar .navbar-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar .navbar-nav li {
  padding: 0 2rem;
  height: 100%;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: normal;
  border-left: 1px solid #d1d5d5;
}
.navbar .navbar-nav li a {
  padding: 2rem 0;
  display: block;
  height: 100%;
  font-size: 15px;
  border-bottom: none;
}
.navbar .navbar-nav li.current-menu-item a {
  font-family: 'Proxima Nova Bold', sans-serif;
  -webkit-box-shadow: inset 0 -3px 0 #ff6600;
          box-shadow: inset 0 -3px 0 #ff6600;
}
.navbar .navbar-nav li:first-child {
  border-left: none;
}
@media (max-width: 768px) {
  .navbar .navbar-collapse {
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    background: #4a4f54;
  }
  .navbar .navbar-collapse .nav-item .nav-link {
    font-family: 'Proxima Nova Light Thin', sans-serif;
    color: #ffffff;
  }
  .navbar .navbar-collapse .nav-item.current-menu-item {
    background: #62696f;
  }
  .navbar .navbar-collapse .nav-item.current-menu-item .nav-link {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar .navbar-toggler .close {
    font-weight: bold;
    color: #ff6600;
  }
  .navbar .navbar-toggler.collapsed {
    display: inline;
  }
  .navbar .navbar-toggler.collapsed .close {
    display: none;
  }
  .navbar .navbar-toggler:not(.collapsed) .close {
    display: inline;
  }
  .navbar .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: none;
  }
  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    left: -100%;
  }
  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
  }
}
footer.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
  background: #4a4f54;
}
footer.main-footer img {
  margin-bottom: 60px;
}
footer.main-footer img.logo {
  width: 222px;
}
footer.main-footer h4 {
  font-family: 'Proxima Nova Light Thin', sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
}
footer.main-footer form {
  margin-bottom: 30px;
}
footer.main-footer form .btn-submit-footer {
  margin-left: 1em;
  width: 50%;
  color: #ffffff;
  border: 3px solid #d1d5d5;
  background: transparent;
  border-radius: 0;
}
footer.main-footer form .btn-submit-footer img {
  margin-bottom: 0;
}
@media screen and (min-width: 0px) and (max-width: 576px) {
  footer.main-footer form .btn-submit-footer img {
    margin-left: -0.2em;
    width: 200%;
  }
}
footer.main-footer nav {
  margin-bottom: 30px;
}
footer.main-footer nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer.main-footer nav ul li {
  margin-bottom: 1em;
}
footer.main-footer nav ul li a {
  color: #ffffff;
  border: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
footer.main-footer nav ul li a:hover {
  color: #cccccc;
  text-decoration: none;
}
footer.main-footer .social {
  margin-bottom: 30px;
}
footer.main-footer .social .img-icon {
  margin-right: .5rem;
  padding: 6px;
  width: 54px;
  height: 54px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: none;
  -webkit-box-shadow: 2px 1px 6px #333333;
  box-shadow: 2px 1px 6px #333333;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
footer.main-footer .social .img-icon:hover {
  border: 1px solid #494d4d;
  -webkit-box-shadow: 0 0 0 #666666;
  box-shadow: 0 0 0 #666666;
}
footer.main-footer .social .img-icon img {
  margin-top: 6px;
  height: 32px;
}
footer.main-footer .address h6 {
  margin: 0;
}
#home .btn-cta {
  font-size: 36px;
  text-align: center;
  color: #4a4f54;
}
.home-grid-layout {
  width: 100%;
  grid-gap: 1em;
  grid-template-columns: 24.1% 24.1% 24.1% 24.1%;
  grid-template-rows: 50% 50%;
}
.home-grid-layout > * {
  position: relative;
}
.home-grid-layout .info {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  vertical-align: center;
  color: #ffffff;
  background: #4a4f54;
}
.home-grid-layout .info h2 {
  padding: 50px 2rem 0 50px;
  text-align: left;
  text-transform: uppercase;
}
.home-grid-layout .info p {
  padding: 0 50px 50px 50px;
  display: block;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 24px;
  line-height: 1.4em;
}
.home-grid-layout .img-one {
  background: url('img/IMG_6035.jpg') no-repeat top right;
}
.home-grid-layout .img-two {
  background: url('img/jagipaceconceptinterior150317066-med.jpg') no-repeat top center;
}
.home-grid-layout .img-three {
  background: url('img/incubator-12.png') no-repeat top center;
}
.home-grid-layout .cta-grid {
  padding-left: 30px;
  background: #4a4f54;
}
.home-grid-layout .cta-grid h3 {
  text-align: left;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.home-grid-layout .cta-grid a {
  font-size: 1.5rem;
  line-height: 1.9em;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  padding-bottom: .05em;
  border-bottom: 5px solid #ff6600;
}
.home-grid-layout .cta-grid a:hover {
  text-decoration: none;
  color: #d1d5d5;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .home-grid-layout {
    grid-template-rows: 50% 50%;
  }
  .home-grid-layout .info h3 {
    font-size: 15.55555556px;
  }
  .home-grid-layout .info p {
    font-size: 23px;
  }
  .home-grid-layout .cta-grid a {
    padding-top: 1em;
    font-size: 1.3em;
  }
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .home-grid-layout {
    grid-gap: 1em;
    grid-template-columns: calc(49%) calc(49%);
    grid-template-rows: calc(32%) calc(32%) calc(32%);
  }
  .home-grid-layout .info {
    padding: 1em;
    grid-column-end: 3;
    grid-row-end: 2;
  }
  .home-grid-layout .info h3 {
    font-size: 18px;
  }
  .home-grid-layout .info p {
    font-size: 15px;
  }
  .home-grid-layout .img-one,
  .home-grid-layout .img-two,
  .home-grid-layout .img-three {
    background-size: 100%;
  }
  .home-grid-layout .cta-grid {
    padding-left: 15px;
  }
  .home-grid-layout .cta-grid a {
    padding-top: 1em;
    font-size: 1rem;
  }
}
.home-benefits .d-flex {
  margin-top: -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-benefits h2 {
  margin-bottom: 65px;
}
@media screen and (min-width: 0px) and (max-width: 575px) {
  .home-benefits h2 {
    text-align: left;
  }
}
.home-benefits .benefit {
  padding: 1rem 3rem;
  width: calc(32%);
  text-align: center;
  border-bottom: 2px solid #d1d5d5;
}
.home-benefits .benefit h4 {
  margin-bottom: 15px;
}
.home-benefits .benefit p {
  margin-left: 50%;
  width: 190px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.home-benefits .benefit img {
  margin-bottom: 1.5em;
  height: 55px;
}
@media screen and (max-width: 575px) {
  .home-benefits .benefit img {
    height: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .home-benefits .benefit:nth-child(n + 2):before {
    float: left;
    margin-left: -4em;
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #d1d5d5;
  }
  .home-benefits .benefit:nth-child(4):before {
    float: left;
    margin-left: -4em;
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #ffffff;
  }
  .home-benefits .benefit:nth-child(n + 4) {
    border-bottom: none;
  }
  .home-benefits .benefit img {
    margin-top: .5rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 1023px) {
  .home-benefits .benefit:nth-child(n + 2):before {
    float: left;
    margin-left: -3.8em;
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #d1d5d5;
  }
  .home-benefits .benefit:nth-child(4):before {
    float: left;
    margin-left: -3.8em;
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #ffffff;
  }
  .home-benefits .benefit:nth-child(n + 4) {
    border-bottom: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 575px) {
  .home-benefits .benefit {
    padding: .5rem 1.5rem;
    width: 50%;
    border-bottom: 2px solid #d1d5d5;
  }
  .home-benefits .benefit:nth-child(even):before {
    float: left;
    margin-left: -1.5em;
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #d1d5d5;
  }
  .home-benefits .benefit:nth-child(n + 5) {
    border-bottom: none;
  }
  .home-benefits .benefit img {
    margin-top: 1.7rem;
  }
}
.home-benefits .btn-container {
  margin-top: 60px;
}
.home-benefits .btn-container .btn {
  margin-top: -10px;
}
#home .jumbotron {
  background: #000000 url('img/rrvelarrevealimage010317003.jpg') no-repeat top center;
}
#program .jumbotron {
  background: #000000 url('img/rrvelar18my367glhdprlocationdynamic010317.jpg') no-repeat top center;
}
#portfolio .jumbotron {
  background: #000000 url('img/img87531.jpg') no-repeat top center;
}
#blog .jumbotron {
  background: #000000 url('img/jagipaceconceptstatic150317048.jpg') no-repeat top center;
}
#newsroom .jumbotron {
  height: 551px;
  background: #000000 url('img/ostc_garage-banner.jpg') no-repeat top center;
}
#contact .jumbotron {
  height: 551px;
  background: #000000 url('img/IMG_6024.jpg') no-repeat top center;
}
.jumbotron {
  padding-top: 100px;
  height: 447px;
  position: relative;
}
.jumbotron h1 {
  width: 60%;
  position: relative;
  z-index: 1;
  color: #ffffff;
}
.jumbotron h1.text-center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.jumbotron h1.text-centerspan.thick-underline-inline {
  text-align: left !important;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .jumbotron h1 {
    font-size: 28px;
  }
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .jumbotron h1 {
    width: 100%;
  }
}
/* --------------- NEWSROOM SPECIFIC --------------- */
#newsroom #news {
  margin-left: -15px;
  margin-right: -15px;
}
#newsroom h2 span {
  padding-bottom: .05em;
  border-bottom: 5px solid #ff6600;
  border-bottom: 5px solid #d1d5d5;
}
.twitter-feed,
.twitter-cta {
  margin-bottom: 1.5em;
  width: 387px;
  height: 453px;
}
.twitter-feed {
  margin-right: 1em;
  border: 1px solid #d1d5d5;
}
@media screen and (max-width: 769px) {
  .twitter-feed {
    margin-right: 0;
  }
}
.twitter-cta {
  color: #ffffff;
  background: #4a4f54;
}
.pagination-container {
  padding-top: 30px;
  width: 100%;
}
.slide-window {
  width: 100%;
  height: 645px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 575px) {
  .slide-window {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 495px;
    overflow: auto;
    border: 1px solid red;
  }
}
@media screen and (min-width: 576px) and (max-width: 1024px) {
  .slide-window {
    width: 100%;
  }
}
.slide-container {
  position: absolute;
  left: 0;
}
.news-slide-nav {
  padding: 0 .25em;
}
.news-slide-nav .next,
.news-slide-nav .prev {
  color: #ff6600;
}
.news-slide-nav .next.disabled,
.news-slide-nav .prev.disabled {
  color: inherit;
}
.news-slide-nav .next.disabled:hover,
.news-slide-nav .prev.disabled:hover {
  cursor: normal;
}
.news-slide-nav .next:hover,
.news-slide-nav .prev:hover {
  text-decoration: none;
  border-bottom: none;
}
.card {
  margin-right: 40px;
  width: 385px;
  display: inline-block;
  height: 645px;
  border: none;
  border-radius: 0px;
  background-clip: padding-box;
}
.card:last-child {
  margin-right: 0;
}
@media screen and (max-width: 575px) {
  .card {
    width: 200px;
    height: 450px;
  }
}
@media screen and (min-width: 576px) and (max-width: 1024px) {
  .card {
    width: 300px;
    height: 600px;
  }
}
.card a {
  color: inherit;
  padding-bottom: .05em;
  border-bottom: 5px solid #ff6600;
}
.card a:hover {
  color: inherit;
}
.news-card {
  color: #ffffff;
  background: #4a4f54;
}
.press-card {
  background: #d1d5d5;
}
.card-title {
  font-size: 18px;
}
@media screen and (max-width: 575px) {
  .card-title {
    font-size: 15px;
  }
}
.card-top {
  position: relative;
  height: 256px;
  overflow: hidden;
}
.card-top img {
  margin-top: -2em;
}
@media screen and (max-width: 575px) {
  .card-top {
    height: auto;
  }
}
.card-body {
  padding: 30px;
}
.card-text {
  line-height: 2.2em;
}
@media screen and (max-width: 575px) {
  .card-text {
    font-size: 15px;
    line-height: 1.3em;
  }
}
.card-img-top {
  border-radius: 0px;
  background-clip: padding-box;
}
#contact .lead {
  text-align: center;
}
/* --------------- PORTFOLIO SPECIFIC --------------- */
.partner {
  height: auto;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
}
.partner.hover {
  cursor: pointer;
  background: #eceded;
}
.partner.minimized {
  color: #7a828a;
}
.partner.maximized {
  color: #4a4f54;
}
.partner-main {
  padding: 22px .7em 0 0;
  height: 100%;
  border-top: 1px solid #d1d5d5;
}
.partner-main.row {
  margin: 0;
}
.partner-main .dev-logo {
  width: 30px;
}
.partner-main a {
  padding: .25em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.partner-main a:hover {
  background: #d1d5d5;
}
.partner-logo {
  margin-right: 13px;
}
@media screen and (max-width: 575px) {
  .partner-logo {
    margin-bottom: 1em;
  }
}
.partner-name {
  text-transform: uppercase;
}
@media screen and (max-width: 575px) {
  .partner-name {
    font-size: 1em;
  }
}
@media screen and (min-width: 576px) and (max-width: 1023px) {
  .partner-name {
    font-size: .8em;
  }
}
.partner-location {
  margin-left: 50px;
  font-family: 'Proxima Nova Bold';
}
/* --------------- PROGRAMS SPECIFIC --------------- */
.description p {
  margin-bottom: 2em;
  font-size: 24px;
  line-height: 1.2em;
}
.description img {
  margin-bottom: 1.3em;
}
.description .btn-container {
  text-align: left;
}
@media screen and (max-width: 575px) {
  .description .row {
    padding-right: 1em;
    padding-left: 1em;
  }
  .description p {
    width: 100%;
  }
  .description img {
    margin: 0 auto 1em auto;
  }
}
.testimonials {
  margin-bottom: 80px;
}
.testimonials .row > div {
  background: #4a4f54;
}
.testimonials .row > div.img-container {
  text-align: left;
  background: black;
}
.testimonials .row > div.img-container.paola {
  background: #000000 url('img/Paola-Moretto.jpg') no-repeat 50% 50%;
}
.testimonials .row > div.img-container.ian {
  background: #000000 url('img/ian-lyman.jpg') no-repeat 50% 50%;
}
.testimonials .blockquote {
  margin: 45px;
  font-size: 18px;
  font-style: italic;
  line-height: 1.4em;
  color: #ffffff;
}
.testimonials .blockquote-footer:before {
  content: "";
}
.testimonials .blockquote-footer p {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}
@media screen and (max-width: 576px) {
  .testimonials .row {
    margin-bottom: 1.5rem;
  }
  .testimonials .img-container {
    padding-top: 1rem;
    min-height: 321px;
  }
  .testimonials .blockquote {
    font-size: 1rem;
  }
  .testimonials .blockquote-footer {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .testimonials .blockquote {
    font-size: 15px;
  }
  .testimonials .blockquote-footer {
    font-size: 18px;
  }
}
article {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d1d5d5;
}
article:last-child {
  border-bottom: none;
}
article h3 {
  text-align: left;
}
article h3 a {
  padding-bottom: .05em;
  line-height: 1.75em;
  color: inherit;
  border-bottom: 5px solid #ff6600;
}
article h3 a:hover {
  color: inherit;
  text-decoration: none;
}
article aside {
  margin-right: 1em;
  padding: 1em;
  color: #ffffff;
  background: #999999;
}
article aside .date {
  color: #4a4f54;
}
#contact h1 .thick-underline-inline {
  padding-bottom: .05em;
  border-bottom: 5px solid #ff6600;
}
.form-container {
  margin-top: -60px;
  padding: 20px 0 60px;
  background: #4a4f54;
}
.form-container input,
.form-container textarea {
  min-height: 2rem;
  color: #ffffff;
  background-color: #7d8287;
  border: none;
  border-radius: 0px;
  background-clip: padding-box;
}
.form-container input::-webkit-input-placeholder,
.form-container textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.form-container input:-moz-placeholder,
.form-container textarea:-moz-placeholder {
  color: #ffffff;
}
.form-container input::-moz-placeholder,
.form-container textarea::-moz-placeholder {
  color: #ffffff;
}
.form-container button {
  margin-top: 40px;
}
.contact-methods img {
  margin-right: 30px;
  width: 95px;
}
.map-container {
  margin-bottom: 0;
}
.map-container img {
  height: 1000px;
}
.job-list {
  margin: 0 0 3rem 0;
  padding: 0;
  list-style-type: none;
}
.job-list li {
  margin-bottom: .2em;
}
.job-list li a {
  font-family: 'Proxima Nova Bold', sans-serif;
}
.legal-info {
  padding-top: 60px;
}
